<a href="javascript:;"
   class="mall-wishlist-item btn btn-outline-primary text-start {{ list_id == __SELF__.currentItem.hashId ? 'mall-wishlist-item--active' }} {{ list_id == __SELF__.currentItem.hashId ? 'active' }}"
   data-request="onSelect"
   data-request-data="id: '{{ list_id }}'"
>
    <div class="mall-wishlist-item__data ">
        <div class="mall-wishlist-item__name fw-bold">
            {{ name | default('offline.mall::frontend.wishlist.default_name' | trans) }}
        </div>
        <div class="mall-wishlist-item__description text-opacity-50">
            {{ 'offline.mall::frontend.wishlist.count' | transchoice(count | default(0)) }}
        </div>
        <div class="mall-wishlist-item__meta text-opacity-50">
            {{ (total | default(0)) | money }}
        </div>
    </div>

</a>